In [1]:
import sys
import os
sys.path.append(sys.path[0] + "/..")

%load_ext autoreload
%autoreload 2

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
import numpy as np
import networkx as nx
from sklearn.preprocessing import StandardScaler
from sklearn.svm import OneClassSVM
import math
import matplotlib.pyplot as plt
from matplotlib import gridspec
import seaborn as sns
from jupyterthemes import jtplot
import datetime
jtplot.style()

In [2]:
# read in Dow Jones stocks data
df_dja = pd.read_csv('../experiments/data/interim/DJA-2000-2020-clean.csv')
df_dja['date'] = pd.to_datetime(df_dja['date'])
df_dja.set_index('date', inplace=True)
df_dja = df_dja.drop('Unnamed: 0', axis=1)
df_dja.head()

              open    high     low   close  name
date
2000-05-11  101.37  104.25   99.00  102.81  AAPL
2000-05-12  106.00  110.50  104.77  107.62  AAPL
2000-05-15  108.06  108.06  100.12  101.00  AAPL
2000-05-16  104.52  109.06  102.75  105.69  AAPL
2000-05-17  103.62  103.69  100.37  101.37  AAPL

In [3]:
df_dja.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144270 entries, 2000-05-11 to 2020-05-13
Data columns (total 5 columns):
open     144270 non-null float64
high     144270 non-null float64
low      144270 non-null float64
close    144270 non-null float64
name     144270 non-null object
dtypes: float64(4), object(1)
memory usage: 6.6+ MB